<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons left>
        </ion-buttons>
        <ion-title>
            {{ 'news.title' | translate}}
            <!-- News -->
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding ion-no-margin">

    <ion-refresher
        (ionRefresh)="startNewsSync($event)"
        [closeDuration]="400"
        [pullMin]="150">
        <ion-refresher-content id="refresher-content"
                               pullingIcon="arrow-down"
                               pullingText="{{ 'sync.pull_to_sync' | translate:[] }}"
                               refreshingText="{{ footerToolbar.loadingText }}">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="8" size-lg="7" size-xl="6">
                <ion-list>
                    <ion-item  class="ion-no-padding" lines="none" *ngFor="let newsPresenter of newsPresenters" (click)="openNews(newsPresenter[0].newsId, newsPresenter[0].newsContext)">
                        <ion-avatar >
                            <img src="{{newsPresenter[1].icon()}}">
                        </ion-avatar>

                        <ion-card color="transparent" >
                            <ion-card-header>
                                <ion-card-subtitle *ngIf="newsPresenter[0].title">{{newsPresenter[0].title}}</ion-card-subtitle>
                                <ion-card-subtitle *ngIf="(newsPresenter[0].content | toString) !== ''" [innerHtml]="newsPresenter[0].content" ></ion-card-subtitle>
                            </ion-card-header>
                                <ion-card-content  *ngIf="newsPresenter[0].subtitle">{{newsPresenter[0].subtitle}}</ion-card-content>
                                <ion-card-subtitle class="ion-text-right ion-margin-end ion-margin-bottom">{{newsPresenter[0].updateDate | date:"dd. MMM HH:mm"}}</ion-card-subtitle>
                        </ion-card>
                    </ion-item>
                    <ion-card *ngIf="newsPresenters === undefined || newsPresenters.length === 0">
                        <ion-card-content>
                            <p class="info-text">{{ 'new-objects.no_new_items' | translate:[] }}</p>
                    </ion-card-content>
                    </ion-card>


        <!-- <ion-card *ngFor="let newsPresenter of newsPresenters" (click)="openNews(newsPresenter[0].newsId, newsPresenter[0].newsContext)">
                <ion-card-header>
                        <ion-card-subtitle>{{newsPresenter[0].updateDate | date:"dd. MMM yyyy HH:mm"}}</ion-card-subtitle>
                        <ion-card-title>
                            <ion-avatar item-start>
                                <img src="{{newsPresenter[1].icon()}}">
                            </ion-avatar>
                            {{newsPresenter[0].title}}
                        </ion-card-title>
                </ion-card-header>
                      <ion-card-content>
                            <p class="info-text">{{newsPresenter[0].subtitle}}</p>
                            <p class="info-text" [innerHtml]="newsPresenter[0].content"></p>
                    </ion-card-content>

        </ion-card>
        <ion-card *ngIf="newsPresenters === undefined">
            <ion-card-content>
                <p class="info-text">{{ 'new-objects.no_new_items' | translate:[] }}</p>
        </ion-card-content>
        </ion-card> -->
    </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
